<%= simple_form_for :search, url: recipes_path, method: "GET", html: { class: 'row g-3 align-items-center' } do |f| %>
  <div class="col-md-5">
    <%= f.input :area, label: "Country", input_html: {class: "form-control", value: ""} %>
  </div>
  <div class="col-md-5">
    <%= f.input :category, label: "Category", input_html: {class: "form-control", value: ""} %>
  </div>
  <div class="col-md-2">
    <%= f.submit "Explore", class: "general-button mb-2 mt-4 w-100" %>
  </div>
<% end %>


<div class="grid-container">
  <% @recipes.each do |recipe| %>
    <div class="card">
      <div class="card-img">
        <%= link_to recipe_path(recipe) do %>
          <%= image_tag(recipe.image_url, width: 80, height: 80, alt: recipe.name) %>
        <% end %>
      </div>

      <div class="card-body">
        <p><strong>Name:</strong> <%= recipe.name %></p>
        <p><strong>Category:</strong> <%= recipe.category %></p>
        <p><strong>Area:</strong> <%= recipe.area %></p>
      </div>
      <%= link_to 'Details', recipe_path(recipe), class: "details-button" %>
    </div>
  <% end %>
</div>
