<%= simple_form_for :search, url: recipes_path, method: "GET", html: { class: 'form-inline' } do |f| %>
  <%= f.input :area, label: "Country", input_html: {value: ""} %>
  <%= f.submit "Completed", class: "general-button mb-2" %>
<% end %>

<%= simple_form_for :search, url: recipes_path, method: "GET", html: { class: 'form-inline' } do |f| %>
  <%= f.input :category, label: "Category", input_html: {value: ""} %>
  <%= f.submit "Completed", class: "general-button mb-2" %>
<% end %>


<div class="grid-container">
  <% @recipes.each do |recipe| %>
    <div class="card">
      <div class="card-img">
        <%= link_to recipe_path(recipe) do %>
          <%= image_tag(recipe.image_url, width: 80, height: 80, alt: recipe.name) %>
        <% end %>
      </div>

      <div class="card-body">
        <p><strong>Name:</strong> <%= recipe.name %></p>
        <p><strong>Category:</strong> <%= recipe.category %></p>
        <p><strong>Area:</strong> <%= recipe.area %></p>
      </div>
      <%= link_to 'Details', recipe_path(recipe), class: "details-button" %>
    </div>
  <% end %>
</div>
