<div class="recipe-card">
  <div class="recipe-header">
    <h1><%= @recipe.name%></h1>
    <p><%= @recipe.area%> <%= @recipe.category%></p>
    <div class="recipe-image">
      <%= image_tag @recipe.image_url, alt: @recipe.name %>
      <%= link_to @recipe.youtube_url, @recipe.youtube_url, target: '_blank' %>
    </div>
  </div>

  <div class="ingredients-section">
    <h2>Ingredients</h2>
    <ul class="ingredients-list">
      <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
      <li><%= link_to recipe_ingredient.ingredient.name, ingredient_path(recipe_ingredient.ingredient.id) %>
      <%= recipe_ingredient.measure %></li>
    <% end %>
    </ul>
  </div>

  <div class="instructions-section">
    <h2>Instructions</h2>
      <p><%= @recipe.instruction %> </p>
  </div>
</div>
<%# Recipe Deatils section %>

<div class="recipe-card">
  <div class="recipe-header padding-bottom-card">
    <h1>Favourite it!</h1>
  </div>
  <div class="instructions-section padding-bottom-card">
    <% favourited = @recipe.favourites.find_by(user: current_user) %>

  <% if favourited.present?  %>
      <p>Favourited!</p>
      <p><%= favourited.remarks%> </p>
  <% else %>
    <%= simple_form_for [@recipe, @favourite], html: { class: "inline-form" } do |f| %>
      <%= f.input :remarks, input_html: { class: "inline-input" }, label: "Input a remark" %>
      <%= f.submit "Add me to Favourite", class: "general-button" %>
    <% end %>
  <% end %>
  </div>
</div>
