<div class="banner-category banner-category-size" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path('bannerRecipes.jpg') %>)">
  <h1><%= @recipe.name %></h1>
  <h2>Recipe</h2>
</div>
<div class="recipe-card">
  <div class="recipe-header">
    <h1><%= @recipe.name%></h1>
    <p><%= @recipe.area%> <%= @recipe.category%></p>
    <div class="recipe-image">
      <%= image_tag @recipe.image_url, alt: @recipe.name %>
    </div>
  </div>

  <div class="ingredients-section">
    <h2>Ingredients</h2>
    <ul class="ingredients-list">
      <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
      <li><%= link_to recipe_ingredient.ingredient.name, ingredient_path(recipe_ingredient.ingredient.id), class: "links" %>
      <%= recipe_ingredient.measure %></li>
    <% end %>
    </ul>
  </div>

  <div class="instructions-section">
    <h2>Instructions</h2>
      <p><%= @recipe.instruction %> </p>
    <div class="video-section">
      <iframe width="808" height="616"src=<%= @recipe.embedded_youtube_url %>></iframe>
      <%# 640 480 %>
  </div>
  </div>
</div>
<%# Recipe Deatils section %>

<div class="recipe-card">
  <div class="recipe-header padding-bottom-card">
    <h1>Favourite it!</h1>
  </div>
  <div class="instructions-section padding-bottom-card">
    <% favourited = @recipe.favourites.find_by(user: current_user) %>

  <% if favourited.present?  %>
      <p>Favourited!</p>
      <p><%= favourited.remarks%> </p>
  <% else %>
    <%= simple_form_for [@recipe, @favourite], html: { class: "inline-form" } do |f| %>
      <%= f.input :remarks, input_html: { class: "inline-input" }, placeholder: "Add a comment", label: false %>
      <%= f.submit "Add me to Favourite", class: "general-button" %>
    <% end %>
  <% end %>
  </div>
</div>
