<div class="banner-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path('bannerIngredients.jpg') %>)">
  <h1><%= @ingredient.name %></h1>
  <h2>Ingredient</h2>
</div>

<div class="recipe-card pb-4">
  <div class="recipe-header pb-3">
    <h1><%= @ingredient.name %></h1>
    <div class="ingredients-image">
      <%= image_tag("https://www.themealdb.com/images/ingredients/#{@ingredient.name}.png", alt: @ingredient.name) %>
    </div>
  </div>

  <div class="ingredients-section padding-ingredients">
    <h2>Possible substitutions</h2>
    <ul class="ingredients-list">
    <% @ingredient.substitutes.each do |substitute|%>
      <li><%= substitute.name%> </li>
    <%end%>
      <li class="li-amazon"> You can order <%=@ingredient.name%> on:
      <div class="amazon-button">
        <%= link_to "Amazon", "https://www.amazon.com/s?k=#{@ingredient.name}&crid=33F8WONUCWOEO&sprefix=%2Caps%2C188&ref=nb_sb_noss", class: "btn btn-primary", target: "_blank", rel: "noopener noreferrer" %>
      </div>
      </li>
    </ul>
  </div>

</div>

<div class="recipe-card pb-4">
  <div class="recipe-header padding-bottom-card ">
    <h1>Find shops available in the UK</h1>
  </div>
  <div class="video-section m-4" style="width: 980; height: 616px;"
    data-controller="map"
    data-map-markers-value="<%= @shopmarkers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="instructions-section">
    <p>You can also add your shop manually <%= link_to 'Add Shop', new_ingredient_ingredient_shop_path(@ingredient), class:"general-button" %></p>
  </div>
</div>

<div class="recipe-card pb-4">
  <div class="recipe-header padding-bottom-card ">
    <h1>Add a comment</h1>
  </div>
<div class="instructions-section">
  <%= simple_form_for [@ingredient, @ingredient_review], html: { class: "inline-form" } do |f| %>
    <%= f.input :comment, input_html: { class: "inline-input" }, placeholder: "Add a comment", label: false %>
    <%= f.submit "Submit your comment", class: "general-button mb-3" %>
  <% end %>
</div>

<ul>
  <% @ingredient.ingredient_reviews.each do |review| %>
    <div>
      <div data-controller="toggle" class="padding-right-card">
        <i class="fa-solid fa-comment mt-2"></i> <%= review.user.username %>: "<%= review.comment %>"
        <% if review.user == current_user %>
          <%= link_to ingredient_ingredient_review_path(review.comment, review), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
          <button class="icon-button" data-action="click->toggle#fire">
            <i class="fa-solid fa-pen-to-square edit-btn"></i>
          </button>
          <div data-toggle-target="togglableElement" class="d-none">
            <%= simple_form_for [@ingredient, review], html: { class: "inline-form" } do |f| %>
              <%= f.input :comment, input_html: { class: "inline-input" }, label: false %>
              <%= f.submit "Submit Edit", class: "general-button" %>
            <% end %>
          </div>
        <% else %>
          <%= " " %>
        <% end %>
      </div>
    </div>
  <% end %>
</ul>
</div>
