<!DOCTYPE html>
<html>
  <head>


    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : 'Globcipe - Bringing the Flavours of Home to Your Kitchen' %>">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= globcipe_og_image.png %>" />
    <meta property="og:description" content="Globcipe offers a global collection of recipes, ingredient substitutes, and shop recommendations. Discover, cook, and share your favorite dishes, no matter where you are!" />
    <meta property="og:site_name" content="Globcipe" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

    <title><%= content_for(:title) || "Globcipe" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>

  <body>
      <div><%= render "shared/navbar" %></div>
      <%= render "shared/flashes" %>
      <div class="body-container wrapper">
        <div class="content">
          <%= yield %>
        </div>
      </div>
      <%= render "shared/footer" %>
  </body>
</html>
